@keyframes bounce-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(-68px);
              transform: translateX(-68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(-28px);
              transform: translateX(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
@keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
@keyframes bounce-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(68px);
              transform: translateX(68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(32px);
              transform: translateX(32px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  @keyframes bounce-in-bottom {
        0% {
          -webkit-transform: translateY(500px);
                  transform: translateY(500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateY(65px);
                  transform: translateY(65px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateY(28px);
                  transform: translateY(28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateY(8px);
                  transform: translateY(8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
  
#redhinttxt
{
    visibility: hidden;
}

#redtrantxt
{
    visibility: hidden;
}

body
{
   background-color: #ff5252;
   background-attachment: fixed;
   background-size: 100%;
   background-position-x: center;
   background-position-y: center;
   color:white;
   max-width: 1000px;
   margin: 0 auto;
   padding: 3px;

}

@media screen and (min-width: 800px) {
.redbtn {
width: 20%;
margin-left: 5%;
margin-right: 0%;
}
body
{
 margin-top: 10%;
}
}

.redbtn
{
font-size: 18px;
font-family: 'Segoe UI';
margin-left: 10%;
width: 80%;
margin-right: 10%;
margin-top: 1rem;
border-style: solid;
border-color: #b33939;
border-width: 4px;
color: white;
font-weight: 500;
height: 3rem;
background-color: #b33939;
}

#redhintdiv{
margin-top: 1rem;
font-family: 'Segoe UI';
font-weight: bolder;}


#redquodiv
{margin-top: 1rem;
    font-weight: bolder;
    font-family: 'Segoe UI';}


#redtrediv{margin-top: 1rem;
    font-family: 'Segoe UI';
    font-weight: bolder;}

#redtxt
{   padding: 5px;
    border-style: solid;
    border-color: #b33939;
    border-width: 3px;   
    margin-top: 10px;  
    animation-name: bounce-in-top;
    animation-duration: 1s;
}

#redlang
{
    margin: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
    border-style: solid;
    border-color: #b33939;
    border-width: 0px;
    color: white;
}


#redlanglist
{width: 100%;
height: 3rem;
font-family: 'Segoe UI';
font-size: 18px;
background-color: #b33939;
color: white;
font-weight: 500;
text-align: center;
animation-duration: 4s;
animation-name: bounce-in-bottom; 

}


#redhintbtn
{
  animation-duration: 2s;
  animation-name: bounce-in-bottom;  
}

#redtranbtn
{ animation-duration: 3s;
    animation-name: bounce-in-bottom; }


.changerbtn
{
color: white;
background-color: transparent;
border-style: solid;
border-color: transparent;
margin-top: 1rem;
width: 20%;
height: 6rem;
font-weight: 500;
font-size: 18px;
font-family: 'Segoe UI';
}


#rednextbtn
{
animation-duration: 2s;
animation-name: bounce-in-right;
background-image: url("arrow_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}

#redprevbtn
{  
animation-duration: 2s;
animation-name: bounce-in-left;       
  margin-right: 58%;
  background-image: url("arrow_left.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}

